body {
    background-color: rgba(192, 217, 255, 0.938);
    margin: 0;
    padding: 0;
}


#board {
    background-color: #a7d3d3;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}


#player {
    background-color: rgb(72, 211, 165);
    position: absolute;
}


.obstacle {
    background-color: rgb(253, 201, 105);
    position: absolute;
}


#page-gameover {
    text-align: center;
    background-color: rgb(219, 248, 238);
}
